# Maven
# Build your Java project and run tests with Apache Maven.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/java

trigger:
- master

pool:
  vmImage: ubuntu-latest

steps:
- task: Maven@3
  inputs:
    mavenPomFile: 'pom.xml'
    mavenOptions: '-Xmx3072m'
    javaHomeOption: 'JDKVersion'
    jdkVersionOption: '1.8'
    jdkArchitectureOption: 'x64'
    publishJUnitResults: true
    testResultsFiles: '**/surefire-reports/TEST-*.xml'
    goals: 'package'

- task: NodeTool@0
  inputs:
    versionSource: 'spec'
    versionSpec: '19.x'
    checkLatest: true

# - task: PowerShell@2
#   inputs:
#     targetType: 'inline'
#     script:
#       echo '-----Fix-----'
#       ls -ld /home/vsts/work/_tasks
#       chmod -R 777 /home/vsts/work/_tasks
#       ls -ld /home/vsts/work/_tasks

- task: AllureGenerate@1
  inputs:
    resultsDir: 'target/allure-results'
    targetDir: 'allure-report/$(Build.BuildNumber)'